In [1]:
"""
Stáhni si dataset, který obsahuje seznam zvířat k adopci v ZOO Praha. Zdroj dat je Národní katalog otevřených dat.

Data si načti pomocí metody pandas.read_csv(). Pozor, nastav oddělovač na znak středníku. Využij parametr sep.

Seznam se s daty. Kolik má tabulka řádek a sloupců? Jak se sloupce jmenují?

Které zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině.
"""

'\nStáhni si dataset, který obsahuje seznam zvířat k adopci v ZOO Praha. Zdroj dat je Národní katalog otevřených dat.\n\nData si načti pomocí metody pandas.read_csv(). Pozor, nastav oddělovač na znak středníku. Využij parametr sep.\n\nSeznam se s daty. Kolik má tabulka řádek a sloupců? Jak se sloupce jmenují?\n\nKteré zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině.\n'

In [2]:
import pandas as pd

In [23]:
AdopceZvirat = "adopce-zvirat.csv"
ZvirataDataFrame = pd.read_csv(AdopceZvirat, sep=";")
print(ZvirataDataFrame)

       id             nazev_cz                     nazev_en       trida_cz  \
0       7          Šváb syčivý  Madagascar giant cockroach      Bezobratlí
1       8  Pakobylka okřídlená     Pink-winged stick insect     Bezobratlí
2      16                Tayra                        Tayra          Savci
3      35        Kajmanka supí    Alligator snapping turtle          Plazi
4      37      Želva žlutočelá       Indochinese box turtle          Plazi
..    ...                  ...                          ...            ...
508  1417  Rosnice šalamounská                               Obojživelníci
509  1418       Létavka obecná                               Obojživelníci
510  1419          Bažant paví                                       Ptáci
511  1420  Sojkovec rezavouchý                                       Ptáci
512  1421   Kachnice kaštanová                                       Ptáci

     cena  k_prohlidce
0    1000            1
1    1000            1
2    5000            1
3    2000            1
4    1000            1
..    ...          ...
508  1000            1
509  1000            1
510  1000            1
511  1000            1
512  1000            1

[513 rows x 6 columns]

In [24]:
ZvirataDataFrame.iloc[0:3]

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1

In [60]:
ZvirataDataFrame.shape
ZvirataDataFrame.columns

print(f"Počet řádků a sloupců tabulky je: {ZvirataDataFrame.shape}. \nNázvy sloupců tabulky jsou: {ZvirataDataFrame.columns}.")

# Tabulka má 513 řádků (včetně záhlaví), a 6 sloupců.
# Názvy sloupců: id, nazev_cz, nazev_en, trida_en, cena, k prohlidce

Počet řádků a sloupců tabulky je: (513, 6).
Názvy sloupců tabulky jsou: Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object').

In [65]:
index34_nameCZ = ZvirataDataFrame.loc[34, "nazev_cz"]
index34_nameEN = ZvirataDataFrame.loc[34, "nazev_en"]
print(f"Zvíře s indexem 34 je {index34_nameCZ}. Anglický název zvířete je {index34_nameEN}.")

# Dotaz - chápu správně, že python pro indexování nepočítá záhlaví s názvy sloupců, a proto se ve výpisu objeví Ibis bílý?
# Tzn. index 0 začíná u záznamu 7;"Šváb syčivý";"Madagascar giant cockroach ";"Bezobratlí";1000;1.
# Ve výsledku se tedy objeví záznam z řádku 36.

Zvíře s indexem 34 je Ibis bílý. Anglický název zvířete je White ibis.