In [1]:
"""
Stáhni si soubor temperature.csv, který obsahuje informace o průměrné teplotě v různých městech v listopadu 2017.

Vypiš si prvních několik řádků, ať si prohlédneš strukturu tabulky.

Dále napiš následující dotazy:

Dotaz na měření, která byla provedena v Praze. Je na datech něco zvláštního? Napadá tě, čím to může být? Zde je nápověda.
Dotaz na měření, ve kterých je teplota (sloupec AvgTemperature) vyšší než 80 stupňů.
Dotaz na měření, ve kterých je teplota vyšší než 60 stupňů a současně bylo měření provedeno v regionu (sloupec Region) Evropa (Europe).
Dotaz na extrémní hodnoty, tj. měření, ve kterých je teplota vyšší než 80 stupňů nebo menší než -20 stupňů.

"""

'\nStáhni si soubor temperature.csv, který obsahuje informace o průměrné teplotě v různých městech v listopadu 2017.\n\nVypiš si prvních několik řádků, ať si prohlédneš strukturu tabulky.\n\nDále napiš následující dotazy:\n\nDotaz na měření, která byla provedena v Praze. Je na datech něco zvláštního? Napadá tě, čím to může být? Zde je nápověda.\nDotaz na měření, ve kterých je teplota (sloupec AvgTemperature) vyšší než 80 stupňů.\nDotaz na měření, ve kterých je teplota vyšší než 60 stupňů a současně bylo měření provedeno v regionu (sloupec Region) Evropa (Europe).\nDotaz na extrémní hodnoty, tj. měření, ve kterých je teplota vyšší než 80 stupňů nebo menší než -20 stupňů.\n\n'

In [7]:
import pandas as pd

In [8]:
temperatures = "temperature.csv"
temperatures_df = pd.read_csv(temperatures)

In [9]:
# Vypiš si prvních několik řádků, ať si prohlédneš strukturu tabulky.
temperatures_df.head()

   Region  Country     City  Day  AvgTemperature
0  Africa  Algeria  Algiers    1            62.0
1  Africa  Algeria  Algiers    2            62.2
2  Africa  Algeria  Algiers    3            65.7
3  Africa  Algeria  Algiers    4            69.8
4  Africa  Algeria  Algiers    5            63.8

In [13]:
# Dotaz na měření, která byla provedena v Praze. Je na datech něco zvláštního? Napadá tě, čím to může být? Zde je nápověda.
temperatures_df[temperatures_df["City"] == "Prague"]

      Region         Country    City  Day  AvgTemperature
2100  Europe  Czech Republic  Prague    1            43.5
2101  Europe  Czech Republic  Prague    2            48.5
2102  Europe  Czech Republic  Prague    3            44.4
2103  Europe  Czech Republic  Prague    4            39.7
2104  Europe  Czech Republic  Prague    5            40.6
2105  Europe  Czech Republic  Prague    6            42.3
2106  Europe  Czech Republic  Prague    7            43.5
2107  Europe  Czech Republic  Prague    8            41.4
2108  Europe  Czech Republic  Prague    9            43.8
2109  Europe  Czech Republic  Prague   10            43.0
2110  Europe  Czech Republic  Prague   11            39.5
2111  Europe  Czech Republic  Prague   12            36.7
2112  Europe  Czech Republic  Prague   13            35.8
2113  Europe  Czech Republic  Prague   14            35.5
2114  Europe  Czech Republic  Prague   15            39.1
2115  Europe  Czech Republic  Prague   16            38.5
2116  Europe  Czech Republic  Prague   17            36.6
2117  Europe  Czech Republic  Prague   18            37.0
2118  Europe  Czech Republic  Prague   19            37.5
2119  Europe  Czech Republic  Prague   20            37.0
2120  Europe  Czech Republic  Prague   21            41.3
2121  Europe  Czech Republic  Prague   22            44.6
2122  Europe  Czech Republic  Prague   23            41.8
2123  Europe  Czech Republic  Prague   24            46.2
2124  Europe  Czech Republic  Prague   25            43.3
2125  Europe  Czech Republic  Prague   26            34.6
2126  Europe  Czech Republic  Prague   27            36.1
2127  Europe  Czech Republic  Prague   28            39.3
2128  Europe  Czech Republic  Prague   29            36.9
2129  Europe  Czech Republic  Prague   30            33.7

In [40]:
def prevodnik():
    """
    Převede stupně Farenheit na stupně Celsia.
    
    """
    Farenheit = temperatures_df["AvgTemperature"]
    Celsia = round((5*(Farenheit-32)/9),1)
    return Celsia

prevodnik()

"""
Pokud se k tomu dostaneme v budoucích lekcích, tak není třeba, ale pokud ne, 
jak by prosím vypadal zbytek kódu, pokud bych si chtěla vytvořit nové csv
s teplotami Celsia? Díky moc ;)
"""

0       16.7
1       16.8
2       18.7
3       21.0
4       17.7
        ...
8785    10.9
8786    13.1
8787     3.6
8788     2.7
8789     2.7
Name: AvgTemperature, Length: 8790, dtype: float64

In [15]:
# Dotaz na měření, ve kterých je teplota (sloupec AvgTemperature) vyšší než 80 stupňů.
temperatures_df[temperatures_df["AvgTemperature"] > 80]

             Region Country             City  Day  AvgTemperature
30           Africa   Benin          Cotonou    1            81.7
31           Africa   Benin          Cotonou    2            81.8
32           Africa   Benin          Cotonou    3            83.6
33           Africa   Benin          Cotonou    4            83.4
34           Africa   Benin          Cotonou    5            80.3
...             ...     ...              ...  ...             ...
8011  North America      US      Brownsville    2            80.8
8012  North America      US      Brownsville    3            81.1
8015  North America      US      Brownsville    6            80.5
8042  North America      US   Corpus Christi    3            80.2
8074  North America      US  Dallas Ft Worth    5            80.1

[722 rows x 5 columns]

In [19]:
# Dotaz na měření, ve kterých je teplota vyšší než 60 stupňů a současně bylo měření provedeno v regionu (sloupec Region) Evropa (Europe).
EuropeAbove80 = temperatures_df[
    (temperatures_df["AvgTemperature"] > 60) & (temperatures_df["Region"] == "Europe")
]
EuropeAbove80[["Country", "City", "AvgTemperature"]]

       Country       City  AvgTemperature
1932   Albania     Tirana            60.3
2402     Italy       Rome            62.2
2404     Italy       Rome            60.4
2580  Portugal     Lisbon            62.5
2581  Portugal     Lisbon            63.2
2582  Portugal     Lisbon            61.1
2583  Portugal     Lisbon            61.6
2602  Portugal     Lisbon            64.2
2603  Portugal     Lisbon            62.6
2701     Spain  Barcelona            63.8
2702     Spain  Barcelona            63.1
2703     Spain  Barcelona            63.5
2704     Spain  Barcelona            61.6
2730     Spain     Bilbao            62.9
2731     Spain     Bilbao            66.3
2732     Spain     Bilbao            63.8
2751     Spain     Bilbao            62.7
2752     Spain     Bilbao            69.5
2753     Spain     Bilbao            62.5

In [28]:
# Dotaz na extrémní hodnoty, tj. měření, ve kterých je teplota vyšší než 80 stupňů nebo menší než -20 stupňů.
ExtremeTemp = temperatures_df[
    (temperatures_df["AvgTemperature"] > 80) | (temperatures_df["AvgTemperature"] < -20)
]
ExtremeTemp[["Region", "Country", "City", "AvgTemperature"]]

             Region Country             City  AvgTemperature
30           Africa   Benin          Cotonou            81.7
31           Africa   Benin          Cotonou            81.8
32           Africa   Benin          Cotonou            83.6
33           Africa   Benin          Cotonou            83.4
34           Africa   Benin          Cotonou            80.3
...             ...     ...              ...             ...
8011  North America      US      Brownsville            80.8
8012  North America      US      Brownsville            81.1
8015  North America      US      Brownsville            80.5
8042  North America      US   Corpus Christi            80.2
8074  North America      US  Dallas Ft Worth            80.1

[772 rows x 4 columns]